// scss-lint:disable SelectorFormat

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700);
@import './_icons'; // scss-lint:disable ImportPath
@import '../../bower_components/modular-scale/stylesheets/_modular-scale'; // scss-lint:disable ImportPath

// Modular Scale variables
$ms-ratio: $fourth;
$ms-base: 1em;

$base-color: #e7e7e7;

// Colors
$c-main: #d45240;
$c-secondary: #2a5e7e;
$c-accent: #39ac6f;
$c-background: lighten($base-color, 7.4510);
$c-inactive: lighten($base-color, 4.3137);
$c-inactive-2: $base-color;
$c-border: darken($base-color, 10.9804);
$c-background-invert: darken($base-color, 57.2549);
$c-highlight: #f7f6bc;

$c-background-text: $c-background-invert;
$c-main-text: $c-background;
$c-seconday-text: $c-background;
$c-accent-text: $c-background;
$c-inactive-text: $c-border;

$cal-header-width: 12em;
$border-size: 2px;

@mixin main-border() {
  border: $border-size solid $c-border;
}

@mixin color-children($color) {
  &:nth-child(1) { background-color: darken($color, 30%); }
  &:nth-child(2) { background-color: darken($color, 20%); }
  &:nth-child(3) { background-color: darken($color, 10%); }
  &:nth-child(4) { background-color: lighten($color, 0%); }
  &:nth-child(5) { background-color: lighten($color, 10%); }
  &:nth-child(6) { background-color: lighten($color, 20%); }
  &:nth-child(7) { background-color: lighten($color, 30%); }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translate3d(0, 100%, 0); }
  to { opacity: 1; transform: none; }
}
//--------------------------------
//      MultiCalendar
//--------------------------------
.fl-mc {
  @include main-border();
  display: block;
  font-family: 'Lato';
  padding: 0;
  box-sizing: border-box;
  background-color: $c-background;
  border-radius: 5px;
  font-size: 14px;

  // TODO: Remove that and solve wrapper issue
  min-width: 63em;
  * {
    box-sizing: border-box;
  }
}

.fl-mc-view-oneDay.fl-mc {
  min-width: 0;
}
//--------------------------------
//      ControlBar
//--------------------------------
.fl-mc-ctrl {
  @include main-border();
  border-width: 0 0 $border-size;
  color: $c-background-text;

  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
  align-items: stretch;
  font-size: inherit;

  width: 100%;
}

.fl-mc-ctrl-back,
.fl-mc-ctrl-forward,
.fl-mc-ctrl-today,
.fl-mc-ctrl-refresh,
.fl-mc-ctrl-show-weekend {
  @include main-border();
  border-width: 0 $border-size 0 0;

  vertical-align: middle;
  color: inherit;
  background-color: $c-inactive;
  font-weight: bold;

  cursor: pointer;

  $hover-color: $c-main;

  &:focus {
    outline: 0;
    background-color: $c-inactive-2;
  }

  &:hover {
    background-color: $hover-color;
    color: $c-main-text;
  }

  &:active {
    background-image: linear-gradient(grayscale($hover-color), grayscale($hover-color));
    background-blend-mode: color-burn;
  }
}

.fl-mc-ctrl-show-weekend {
  white-space: nowrap;
  border-width: 0 0 0 $border-size;
}

.fl-mc-ctrl-weekpicker {
  @include main-border();
  border-width: 0 $border-size 0 0;

  background-color: inherit;
  color: inherit;
  font-size: inherit;
  width: calc(#{$cal-header-width} + #{$border-size});
  font-family: inherit;
  padding-left: 1em;
  box-shadow: none;
}

.fl-mc-ctrl-date-range {
  flex: 1 7 13em;
  color: inherit;
  text-align: center;
  margin: auto; // This pushes other elements to the sides.
}

// ----- ONE DAY Control Bar styles
.fl-mc-view-oneDay .fl-mc-ctrl {
  flex-wrap: wrap;

  .fl-mc-ctrl-weekpicker {
    @include main-border();
    width: 100%;
    border-width: 0 0 $border-size;
    text-align: center;
    font-weight: bold;
    min-height: 3em;
  }

  .fl-mc-ctrl-back,
  .fl-mc-ctrl-forward,
  .fl-mc-ctrl-today,
  .fl-mc-ctrl-refresh {
    flex: 1 1 auto;
    min-height: 2em;
  }

  .fl-mc-ctrl-refresh {
    border-right: 0;
  }

  .fl-mc-ctrl-date-range  {
    display: none;
  }

  .fl-mc-ctrl-show-weekend {
    display: none;
  }
}

//--------------------------------
//       Calendar
//--------------------------------
.fl-mc-cal {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  background-color: inherit;

  width: 100%;

  &:nth-child(even) {
    background-color: $c-inactive;
  }

  &:first-of-type .fl-mc-cal-day {
    border-top: 0;
  }
}

.fl-mc-view-oneDay .fl-mc-cal{
  flex-flow: column nowrap;

  &:first-of-type .fl-mc-cal-header{
    border-top: 0;
  }
}

.fl-mc-cal-header {
  display: block;
  flex: 0 0 $cal-header-width;
  padding: 1em;
  cursor: pointer;
  background-color: inherit;

  &:hover {
    filter: brightness(95%);
  }
}

.fl-mc-view-oneDay .fl-mc-cal-header{
  flex: auto;
  @include main-border();
  border-width: $border-size 0;
}

.fl-mc-cal-title {
  font-size: inherit;
  margin: 0 0 .2em;
}

.fl-mc-view-oneDay .fl-mc-cal-title {
  font-size: ms(2);
  text-align: center;
}

.fl-mc-cal-description {
  font-size: inherit;
  font-weight: lighter;
  margin: 0;
}

.fl-mc-view-oneDay .fl-mc-cal-description {
  display: none;
}

.fl-mc-cal-days {
  flex: 1 1 auto;
  background-color: inherit; //For the day-header effect

  display: flex;
  flex-flow: row nowrap;
}

//--------------------------------
//      Day
//--------------------------------
.fl-mc-cal-day {
  @include main-border();
  border-bottom: 0;
  border-right: 0;

  display: block;
  width: 0; // Makes all days be the same width.
  flex: 1 1 auto;
  background-color: inherit; //For the day-header effect

  min-width: 9em;
  min-height: 5em;
}

.fl-mc-view-oneDay .fl-mc-cal-day{
  border: 0;
}

.fl-mc-cal-day-today {
  background-color: $c-highlight;
}

.fl-mc-cal-day-header {
  @include main-border();
  border-top: 0;
  border-right: 0;
  border-left: 0;

  text-align: center;
  font-weight: bold;
  padding: 0 0 .2em;
  background-color: $c-inactive-2;
  color: $c-background-text;
  cursor: pointer;

  &:hover {
    filter: brightness(90%);
  }

}

// Events container
.fl-mc-cal-day-events {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: .1em;
}

//--------------------------------
//      Event
//--------------------------------
.fl-mc-cal-day-event {
  display: block;
  position: relative; // for the tooltip.
  padding: .5em;
  border-radius: 5px;
  margin: 0 0 .1em;
  font-size: ms(-1);

  background-color: $c-main;
  color: $c-main-text;

  transition: all .1s ease;
  animation: fadeInUp;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-delay: 0;
  @for $i from 2 through 10 {
    &:nth-child(#{$i}) {
      animation-delay: 0s + ($i / 15);
    }
  }

  &:hover {
    filter: brightness(110%);
    cursor: pointer;
  }
}

.fl-mc-cal-day-event-time {
  font-weight: bold;
  margin: inherit;
}

.fl-mc-cal-day-event-title {
  margin: inherit;
  font-weight: bold;
}

.fl-mc-cal-day-event-description {
  margin: inherit;
}

// Show long text on hover?
// .fl-mc-cal-day-event-description {
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   overflow: hidden;
// }
// .fl-mc-cal-day-event:hover .fl-mc-cal-day-event-description {
//   text-overflow: inherit;
//   white-space: normal;
//   overflow: auto;
//   transition: height .5s ease;
// }

// TODO: Add arrow to tooltip
.fl-mc-cal-day-event-tooltip {
  margin: 0;
  position: absolute;
  bottom: 0;
  z-index: 1;

  padding: inherit;
  border-radius: inherit;
  background-color: $c-background-invert;
  color: $c-main-text;

  visibility: hidden;
  opacity: 0;
  transition: visibility linear .2s, opacity linear .1s, translate linear .2s;
}
// Tooltip showing on hover
.fl-mc-cal-day-event:hover .fl-mc-cal-day-event-tooltip {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
