// scss-lint:disable SelectorFormat

@import './_icons'; // scss-lint:disable ImportPath
@import '../../node_modules/modularscale-sass/stylesheets/modular-scale';

// Modular Scale variables
$ms-ratio: $fourth;
$ms-base: 1em;

$base-color: #e7e7e7;

// Colors
$c-blue: #2e9498;
$c-green: #a7b531;
$c-yellow: #d4ad40;
$c-red: #c43232;
$c-orange: #da5730;
$c-black: #303030;
$c-white: #fff;

$c-main: #d45240;
$c-secondary: #2a5e7e;
$c-accent: #39ac6f;
$c-background: lighten($base-color, 7.4510);
$c-inactive: lighten($base-color, 4.3137);
$c-inactive-2: $base-color;
$c-border: darken($base-color, 10.9804);
$c-background-invert: darken($base-color, 57.2549);
$c-highlight: #f7f6bc;

$c-background-text: $c-background-invert;
$c-main-text: $c-background;
$c-seconday-text: $c-background;
$c-accent-text: $c-background;
$c-inactive-text: $c-border;

$cal-header-width: 12em;
$border-size: 2px;

@mixin main-border() {
  border: $border-size solid $c-border;
}

@mixin color-children($color) {
  &:nth-child(1) { background-color: darken($color, 30%); }
  &:nth-child(2) { background-color: darken($color, 20%); }
  &:nth-child(3) { background-color: darken($color, 10%); }
  &:nth-child(4) { background-color: lighten($color, 0%); }
  &:nth-child(5) { background-color: lighten($color, 10%); }
  &:nth-child(6) { background-color: lighten($color, 20%); }
  &:nth-child(7) { background-color: lighten($color, 30%); }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translate3d(0, 100%, 0); }
  to { opacity: 1; transform: none; }
}
@keyframes fadeDown {
  from { transform: translate3d(0, -100%, 0); }
  to { transform: none; }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
//--------------------------------
//      MultiCalendar
//--------------------------------
.fl-mc {
  @include main-border();
  display: block;
  font-family: 'Lato', sans-serif;
  padding: 0;
  box-sizing: border-box;
  background-color: $c-background;
  border-radius: 5px;
  font-size: 14px;

  // TODO: Remove that and solve wrapper issue
  min-width: 65em;

  * {
    box-sizing: border-box;
  }
}

.fl-mc-view-oneDay.fl-mc {
  min-width: 0;
}
//--------------------------------
//      ControlBar
//--------------------------------
.fl-mc-ctrl {
  @include main-border();
  border-width: 0 0 $border-size;
  color: $c-background-text;
  background-color: inherit;
  z-index: 1;

  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
  align-items: stretch;
  font-size: inherit;

  width: 100%;

  &.sticky {
    top: 0;
    position: fixed;
    animation: fadeDown;
    animation-delay: .1s;
    animation-duration: .5s;
    animation-fill-mode: both;
  }
}


.fl-mc-ctrl-back,
.fl-mc-ctrl-forward,
.fl-mc-ctrl-today,
.fl-mc-ctrl-refresh,
.fl-mc-ctrl-show-weekend {
  @include main-border();
  border-width: 0 $border-size 0 0;

  vertical-align: middle;
  color: inherit;
  background-color: $c-inactive;
  font-weight: bold;

  cursor: pointer;

  $hover-color: $c-main;

  &:focus {
    outline: 0;
    background-color: $c-inactive-2;
  }

  &:hover {
    background-color: $hover-color;
    color: $c-main-text;
  }

  &:active {
    background-image: linear-gradient(grayscale($hover-color), grayscale($hover-color));
    background-blend-mode: color-burn;
  }
}

.fl-mc-ctrl-refresh {
  // transition: all .5s ease;

    // Hide the tick when not loading.
  .icon-check { display: none; }
  .icon-times { display: none; }
  .icon-refresh { display: inline-block; }

  &.fl-mc-loading {
    background-color: $c-main;
    color: $c-main-text;
    pointer-events: none; // Disallow multiple clicks

    * { animation: spin 2s linear infinite; }
  }

  &.fl-mc-loading-complete {
    background-color: $c-accent;
    color: $c-main-text;
    pointer-events: none; // Disallow multiple clicks

    .icon-refresh { display: none; }
    .icon-check { display: inline-block; }
  }

  &.fl-mc-loading-error {
    background-color: $c-red;
    color: $c-main-text;
    pointer-events: none; // Disallow multiple clicks

    .icon-refresh { display: none; }
    .icon-times { display: inline-block; }
  }
}

.fl-mc-ctrl-show-weekend {
  white-space: nowrap;
  border-width: 0 0 0 $border-size;
}

.fl-mc-ctrl-datePicker {
  @include main-border();
  border-width: 0 $border-size 0 0;

  background-color: inherit;
  color: inherit;
  font-size: inherit;
  width: calc(#{$cal-header-width} + #{$border-size});
  font-family: inherit;
  padding-left: 1em;
  box-shadow: none;
}

.fl-mc-ctrl-titleBar {
  flex: 1 7 13em;
  color: inherit;
  text-align: center;
  margin: auto; // This pushes other elements to the sides.
}

// ----- ONE DAY Control Bar styles
.fl-mc-view-oneDay .fl-mc-ctrl {
  flex-wrap: wrap;

  .fl-mc-ctrl-datePicker {
    @include main-border();
    width: 100%;
    border-width: 0 0 $border-size;
    text-align: center;
    font-weight: bold;
    min-height: 3em;
  }

  .fl-mc-ctrl-back,
  .fl-mc-ctrl-forward,
  .fl-mc-ctrl-today,
  .fl-mc-ctrl-refresh {
    flex: 1 1 auto;
    min-height: 2em;
  }

  .fl-mc-ctrl-refresh {
    border-right-width: 0;
  }

  .fl-mc-ctrl-titleBar {
    display: none;
  }

  .fl-mc-ctrl-show-weekend {
    display: none;
  }
}

//--------------------------------
//       Calendar
//--------------------------------
.fl-mc-cal {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  background-color: inherit;

  width: 100%;
  position: relative;

  &:nth-child(even) {
    background-color: $c-inactive;
  }

  &:first-of-type .fl-mc-cal-day {
    border-top-width: 0;
  }
}

.fl-mc-view-oneDay .fl-mc-cal {
  flex-flow: column nowrap;

  &:first-of-type .fl-mc-cal-header {
    border-top-width: 0;
  }
}

.fl-mc-cal-header {
  display: block;
  flex: 0 0 $cal-header-width;
  padding: 1em;
  cursor: pointer;
  background-color: inherit;

  &:hover {
    filter: brightness(95%);
  }
}

.fl-mc-view-oneDay .fl-mc-cal-header {
  @include main-border();
  flex: auto;
  border-width: $border-size 0;
}

.fl-mc-cal-title {
  font-size: inherit;
  margin: 0 0 .2em;
}

.fl-mc-view-oneDay .fl-mc-cal-title {
  font-size: ms(2);
  text-align: center;
}

.fl-mc-cal-description {
  font-size: inherit;
  font-weight: lighter;
  margin: 0;
}

.fl-mc-view-oneDay .fl-mc-cal-description {
  display: none;
}

.fl-mc-cal-days {
  flex: 1 1 auto;
  background-color: inherit; //For the day-header effect
  overflow: hidden;

  display: flex;
  flex-flow: row nowrap;
}

//--------------------------------
//      Day
//--------------------------------
.fl-mc-cal-day {
  @include main-border();
  border-bottom-width: 0;
  border-right-width: 0;

  display: block;
  width: 0; // Makes all days be the same width.
  flex: 1 1 auto;
  background-color: inherit; //For the day-header effect

  // TODO: Fix the wrapper shrinking problem and
  // enforce minimum size.
  // min-width: 9em;
  min-height: 5em;
}

.fl-mc-view-oneDay .fl-mc-cal-day {
  border: 0;
}

.fl-mc-cal-day-today {
  background-color: $c-highlight;
}

.fl-mc-cal-day-header {
  @include main-border();
  border-width: 0 0 $border-size;

  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  padding: 0 0 .2em;
  background-color: $c-inactive-2;
  color: $c-background-text;
  cursor: pointer;

  &:hover {
    filter: brightness(90%);
  }

}

// Events container
// This padding must have an absolute measure because this is used to
// calculate the size of multi-day events and event font-size in
// the event object may change, so ems are not appropriate.
$events-container-padding: 2px;

.fl-mc-cal-day-events {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: $events-container-padding;
}

//--------------------------------
//      Event
//--------------------------------
.fl-mc-cal-day-event {
  $event-padding: .5em;

  display: block;
  position: relative; // for the tooltip.
  padding: $event-padding;
  border-radius: 5px;
  margin: 0 0 .2em;
  font-size: ms(-1);
  overflow: hidden; // Important for fc-mc-multiple-days-placeholder

  background-color: $c-main;
  color: $c-main-text;

  transition: all .1s ease;
  animation: fadeInUp;
  animation-duration: .5s;
  animation-delay: 0;
  animation-fill-mode: backwards;
  @for $i from 2 through 10 {
    &:nth-child(#{$i}) {
      animation-delay: 0s + ($i / 15);
    }
  }

  &:hover {
    filter: brightness(110%);
    cursor: pointer;
  }

  &:active {
    filter: brightness(95%);
  }

  @for $i from 2 through 7 {
    $content: $i * 100%;
    $borders: ($i - 1) * $border-size;
    $margins: ($i - 1) * 2 * $events-container-padding;
    $event-width: calc( #{$content} + #{$borders} + #{$margins});

    &.fl-mc-multiple-days-#{$i} {
      width: $event-width;
      z-index: 1;
    }

    &.fl-mc-multiple-days-placeholder-#{$i} {
      visibility: hidden;
      width: $event-width;
    }
  }

  //Multiple days events cannot contain a description.
  &[class*="fl-mc-multiple-days"] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .fl-mc-cal-day-event-time,
    .fl-mc-cal-day-event-title {
      display: inline;
      padding-right: 1em;
    }

    .fl-mc-cal-day-event-description {
      display: none;
    }
  }
}

.fl-mc-event-color-blue {
  background-color: $c-blue;
}

.fl-mc-event-color-green {
  background-color: $c-green;
}

.fl-mc-event-color-yellow {
  background-color: $c-yellow;
}

.fl-mc-event-color-red {
  background-color: $c-red;
}

.fl-mc-event-color-orange {
  background-color: $c-orange;
}

.fl-mc-event-color-black {
  background-color: $c-black;
}

.fl-mc-event-color-white {
  background-color: $c-white;
  color: inherit;
  border: 1px solid $c-black;
}

.fl-mc-cal-day-event-time {
  font-weight: bold;
  margin: inherit;
  display: block;
}

.fl-mc-cal-day-event-title {
  margin: inherit;
  font-weight: bold;
  display: block;
}

.fl-mc-cal-day-event-description {
  margin: inherit;
  display: block;
}

.fl-mc-cal-day-event-time:last-child,
.fl-mc-cal-day-event-title:last-child,
.fl-mc-cal-day-event-description:last-child {
  margin-bottom: 0;
}

// Show long text on hover?
// .fl-mc-cal-day-event-description {
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   overflow: hidden;
// }
// .fl-mc-cal-day-event:hover .fl-mc-cal-day-event-description {
//   text-overflow: inherit;
//   white-space: normal;
//   overflow: auto;
//   transition: height .5s ease;
// }

// TODO: Add arrow to tooltip
.fl-mc-cal-day-event-tooltip {
  display: block;
  margin: 0;
  position: absolute;
  bottom: 0;
  z-index: 1;

  padding: inherit;
  border-radius: inherit;
  background-color: $c-background-invert;
  color: $c-main-text;

  visibility: hidden;
  opacity: 0;
  transition: visibility linear .2s, opacity linear .1s, translate linear .2s;
}
// Tooltip showing on hover
.fl-mc-cal-day-event:hover .fl-mc-cal-day-event-tooltip {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
